@charset "UTF-8";

body {
  margin: 0;
  font-family: 'メイリオ', 'Hiragino Kaku Gothic Pro', sans-serif;
}

/* サイト名 */
.site h1 a {
  color: #000000;
  text-decoration: none;
}

.site h1 {
  margin: 0;
  font-size: 30px;
}

/*.site img {
  border: none;
}*/

/* ナビゲーション */
.menu ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.menu li a {
  display: block;
  padding: 10px 15px;
  color: #000000;
  font-size: 14px;
  text-decoration: none;
}

.menu li a:hover {
  background-color: #eeeeee;
}

.menu ul:after {
  content:"";
  display: block;
  clear: both;
}

.menu li {
  float: left;
  width: auto;
}

/* ヘッダー画像 */
.topimg {
  max-width: 100%;
  height: auto;
  vertical-align: bottom;
}

/* お知らせ */
.news ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.news {
  padding: 20px;
  border: solid 5px #dddddd;
}

.news li a {
  display: block;
  padding: 5px;
  border-bottom: dotted 2px #dddddd;
  color: #000000;
  font-size: 14px;
  text-decoration: none;
}

.news li a:hover {
  background-color: #eeeeee;
}

.news time {
  color: #888888;
  font-weight: bold;
}

.news a:after {
  content: "";
  display: block;
  clear: both;
}

.news time {
  float: left;
  width: 60px;
}

.news .text {
  float: none;
  width: auto;
  margin-left: 60px;
}

/* SNSメニュー */
.follow ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.follow li a {
  display: block;
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 6px;
  color: #ffffff;
  font-size: 14px;
  text-decoration: none;
}

.follow li a:hover {
  background-color: #eeeeee;
}


.follow-tw {
  background-color: #63bafb;
}

.follow-fb {
  background-color: #5288f7;
}

.follow-gp {
  background-color: #f65d4a;
}

.follow i {
  margin-right: 10px;
  font-size: 24px;
  vertical-align: middle;
}

/* コピーライト　*/
.copyright p {
  margin: 0;
  color: #666666;
  font-size: 14px;
}

/* Box5をバーの形にする */
.box5 {
  padding-top: 15px;
  padding-bottom: 15px;
  background-color: #dddddd;
}

/* ボックスの左右　*/
.boxA, .box4, .box5 {
  padding-left: 15px;
  padding-right: 15px;
}

/* ボックスの上下　*/
.boxA {
  padding-top: 20px;
  padding-bottom: 50px;
}

.box4 {
  padding-top: 20px;
  padding-bottom: 20px;
}


/* ------------------- 599px以下の場合 ------------------- */

@media (max-width: 599px) {
  /* ナビゲーション */z1
  .menu li a {
    padding: 10px 7px;
    font-size: 11px;
  }

}

/* ------------------- 768px以上の場合 ------------------- */

/* 768px以上では、Box1とBox2を横に並べる設定 */

@media (min-width: 768px) {
  boxA: after {
    content:"";
    display: block;
    clear: both;
  }

  .box1 {
    float: left;
    width: auto;
  }

  .box2 {
    float: right;
    width: auto;
  }

  /* BOX4-1とBOX4-2を横に並べる設定 */
  .box4:after {
    content: "";
    display: block;
    clear: both;
  }
  .box4-1 {
    float: left;
    width: 70%
  }
  .box4-2 {
    float: right;
    width: 30%
  }
}

/* ------------------- 1190px以上の場合 ------------------- */

@media (min-width: 1190px) {
  /* 全体の横幅を固定 */
  .box3, .box4, .boxA-inner, .box5-inner {
    width: 1140px;
    margin-left: auto;
    margin-right: auto;
  }
  /* BOX Aの下に罫線を入れる */
  .boxA {
    margin-bottom: 20px;
    border-bottom: solid 1px #dddddd;
  }

}
