@charset "UTF-8";

body {
  margin: 0;
  font-family: 'メイリオ', 'Hiragino Kaku Gothic Pro', sans-serif;
}

/* サイト名 */
.site h1 {
  margin: 0;
  font-size: 30px;
}


.site h1 a {
  color: #000000;
  text-decoration: none;
}

/* ナビゲーション */
.menu ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.menu li a {
  display: block;
  padding: 10px 15px;
  color: #000000;
  font-size: 14px;
  text-decoration: none;
}

.menu li a:hover {
  background-color: #eeeeee;
}

.menu ul:after {
  content:"";
  display: block;
  clear: both;
}

.menu li {
  float: left;
  width: auto;
}

/* ヘッダー画像 */
.topimg {
  max-width: 100%;
  height: auto;
  vertical-align: bottom;
}

/* お知らせ */
.news ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.news li a {
  display: block;
  padding: 5px;
  border-bottom: dotted 2px #dddddd;
  color: #000000;
  font-size: 14px;
  text-decoration: none;
}

.news li a:hover {
  background-color: #eeeeee;
}

.news time {
  margin-right: 10px;
  color: #888888;
  font-weight: bold;
}

/* コピーライト　*/
.copyright p {
  margin: 0;
  color: #666666;
  font-size: 14px;
}

/* Box5をバーの形にする */
.box5 {
  padding-top: 15px;
  padding-bottom: 15px;
  background-color: #dddddd;
}

/* ボックスの左右　*/
.boxA, .box4, .box5 {
  padding-left: 15px;
  padding-right: 15px;
}

/* ------------------- 768px以上の場合 ------------------- */
/* 768px以上では、Box1とBox2を横に並べる設定 */
@media (min-width: 768px) {
  boxA: after {
    content:"";
    display: block;
    clear: both;
  }

  .box1 {
    float: left;
    width: auto;
  }

  .box2 {
    float: right;
    width: auto;
  }
}
